@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);


.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    /*파란점을 좌표를 이용하여 안보이게 만듬*/
}

.group1,
.group2,
.group3 {
    float: left;
}

a {
    color: inherit;
    text-decoration: none;
}

.body {
    display: block;
    min-height: 450px;
}

.webAbout {
    width: 250px;
    background: wheat;
    border: 1px solid red;

    border-radius: 50px;
    padding: 15px;
}

.webAbout-list>div {
    overflow: hidden;
}

.webAbout-subject {
    float: right;
    width: 180px;
}

.webAbout-subject {
    color: #792932;
    margin-bottom: 15px;
}

.webAbout-heading {
    margin: 0;
    font-size: 1.5em;
}

.webAbout-thumnail {
    margin: 0;
    margin-right: 10px;
    float: left;
}

.webAbout-thumnail-img {
    display: block;
}

.webAbout-brief {
    margin: 0;
    /* float:right; */
    margin: 5px 0 25px 0;
    display: block;
}

.group1 {
    float: left;
    background-color: springgreen;
}

.group2 {

    width: 380px;
    margin: 10px 0 0 50px;
    height: 600px;
    float: left;
}

.group3 {
    width: 380px;
    


}

.search-form {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #fff;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.search-form-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px 10px 15px;
}

.search-form [name="search"] {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 0.5em;
    height: 22px;
    width: 190px;
    transition: 0.4s;
}

.btn-search {
    background-color: #222;
    color: #fff;
    height: 22px;
    padding: 0 10px;
    line-height: 22px;
}

.search-form [name="search"]:hover {
    border-color: red;
    border-radius: 10px;
    height: 50px;
}

.login {
    border: 1px solid #222;
    border-radius: 5px;
    background: #ccc linear-gradient(#44e82e, #dd2fed);
    padding: 10px 15px;
    margin-top: 20px;
    box-shadow: 5px 5px 0 0 #ccc;
}

.login-heading {
    color: red;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 20px 0;
}

.login-form {
    padding: 10px 10px 0 10px;
    border-radius: 10px 10px 0 0;
    background-color: silver;
}

.login-form fieldset {
    border: 0;
    border-bottom: 1px solid silver;
    padding: 0 0 10px 0;
}

/* 공지사항 및 자료실 */

.board {
    height: 200px;
    margin-top: 20px;
    position: relative;

}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more {
    display: block;
}

.tab {
    /* float:left; */
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.tab a {
    display: block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #aaa;
    padding: 5px 15px;
    background: #ccc linear-gradient(#ccc, #eee);
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
}

.notice-heading {
    left: 0;
}

.pds-heading {
    left: 110px;
}

.is-active .tab {
    z-index: 5;
}

.is-active .tab a {
    border-color: #ed552f #ed552f #fff #ed552f;
    background: #fff;
    color: #ed552f;
}

.notice-list,
.pds-list {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
    min-height: 170px;
    padding-top: 45px;

}

.notice-list a,
.pds-list a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 270px;
}

.notice-list li,
.pds-list li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.notice-more,
.pds-more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 10px;

}

.notice-more::before,
.pds-more::before {
    color: hsla(110, 50%, 30%, 1);
}



.news {

    margin: 20px 0 0 10px;
    position: relative;
    height: 230px;
}

.news::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #ccc linear-gradient(to right, #ccc, #fff);
}

.news-heading {

    margin: 0;
    color: orange;
    font-size: 1.6rem;
    font-weight: 700;
}

.news-more {

    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.news-article {
    margin-top: 35px;
}

.news-article-subject {
    width: 250px;
    margin: 0;
    float: right;
}

.news-article-date {
    width: 250px;
    margin-top: 5px;
    float: right;
}

.news-article-brief {
    width: 250px;
    float: right;
}

.news-article-thumbnail {

    margin: 35px 0 0 0;
    text-align: center;
    width: 130px;
}

.news-article-subject,
.news-article-date,
.news-article-brief {
    margin-left: 5px;
}

.news-article-thumbnail figcaption {
    margin-top: 15px;
    margin-right: 18px
}

.news-more::before {
    color: hsla(110, 50%, 30%, 1);
}



.term {
    margin-left: 10px;
    width: 280px;
    height: 250px;
    background-color: palegoldenrod;
    padding:15px;
    border:1px solid tomato;
    border-radius: 10px;
}
.term-heading{
    margin-top: 0;
}
.term-list-subject,
.term-list-brief{
    width: 210px;
    margin-left:0;
    display: block;
}
.term-list-thumbnail {
    margin-left:0;
    float: left;
}

.term-list-subject {
    float: right;
    margin:5px 0 10px 0;
}
.term-list div:nth-child(even){
    margin-top: 15px;
}
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief{
    float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail{
    float:right;
}
.term-list-brief {
    margin:5px 0 30px 0;
    float: right;
}