@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* 숨긴 제목 및 숨긴 컨텐츠 */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    /*파란점을 좌표를 이용하여 안보이게 만듬*/
}

body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    color: #181818;
    background: #ccc;
    background: url(./images/bg_flower.png) no-repeat 50% 0,
     #ccc linear-gradient(#ccc 0%, #eeec 35%, #fff 60%, #fff 100%);
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan {
    width: 940px;
    margin: 0 auto;
}

/* 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

/*스킵 네비게이션*/
.skip-nav {
    display: none;
}

.logo {
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
}

.header {
    background: #fff;
    position: relative;
    border-radius: 0 0 15px 15px;
    padding: 0 30px;
}

.member {
    text-align: right;
    margin-top: 0;
}

.member li {
    display: inline-block;
    padding: 2px 0;
}

.member a {
    padding: 6px 0;
    display: inline-block;
}

.navigation {
    padding-bottom: 35px;
}

.menu {
    background: linear-gradient(to bottom,
            #e8852e 0%,
            #ed552f 35%,
            #ed552f 70%,
            #e8852e 100%);
    list-style: none;
    display: flex;
    margin: 10px 0 0 0;
    padding-left: 0;
    padding-left: 225px;
    height: 47px;
    border-top: 1px solid currentColor;
    border-radius: 0 0 5px 5px;
}

.menu-act .menu-button {
    color: #ff0;
}

.menu-act .menu-button::after {
    content: "";
    display: block;
    border: 2px solid #000;
}

.menu-item {
    position: relative;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
}

.sub-menu a {
    padding: 8px 0;
    margin-right: 10px;
}

.sub-menu a::before {
    content: '\f192';
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}

.sub-menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: absolute;
    top: 47px;
    white-space: nowrap;
    display: none;
}

/* .menu-act .sub-menu{
    display:block;
} */
.menu-button {
    cursor: pointer;
    line-height: 45px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 20px;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .5);
    display: block;
    color: #fff;
    background: transparent;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
    content: '\e800';
}

.menu-act .sub-menu {
    display: block;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}

@keyframes textAni {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0,0)
    }

    100% {
        font-size: 36px;
        color:rgb(71, 96, 128);
        transform: translate(500px,60px);
    }
}
@keyframes bgAni{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.visual {
    
    height: 120px;
    position: relative;
}

.visual-text {
    width: 500px;
    font-family: Georgia,
        'Times New Roman',
        Times, serif;
    margin: 0;
    animation-name: textAni;
    animation:textAni 1000ms alternate infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}
.visual::before,
.visual::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name:bgAni;
    animation:bgAni 2000ms alternate infinite ease-in-out;
}
.visual::before {
    background-image: url(./images/ani_flower_01.png),
        url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
}

.visual::after {
    background-image: url(./images/ani_flower_03.png),
        url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}


.main {
    background-color: yellowgreen;
    padding: 30px 15px;
    overflow: hidden;
    min-height: 450px;
    border-radius: 15px 15px 0 0 ;
}
.group{
    margin:0 15px;
    float: left;
}
.group1 {
    width: 250px;

}

.group2 {
    width: 380px;

}

.group3 {
    width: 190px;

}

.slogan {
    background-color: tomato;
}

.footer {
    background-color: brown;
}